[phases.setup]
nixPkgs = ["nodejs_20", "ffmpeg", "gcc", "gnumake", "python3", "libtool", "autoconf", "automake"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "node dist/index.js"
